<%= render 'shared/content_title', title: "Profile: #{@user.slug.capitalize}" %>

<div class='user-info'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.user_name %></dd>
    <dt>Time zone:</dt>
    <dd><%= @user.time_zone %></dd>
  </dl>
</div>

<h5><%= @user.user_name %>'s Activity</h5>

<ul class='nav nav-pills'>
  <li class='<%= 'active' if params[:tab].nil? %>'>
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'comments' %>'>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: "comments") %>
  </li>
  <% Category.all.each do |category| %>
    <% if category.name == 'Books' %>
      <li class='<%= 'active' if params[:tab] == 'books' %>'>
        <%= link_to "Books", user_path(tab: "books") %>
    <% elsif category.name == 'Movies' %>
      <li class='<%= 'active' if params[:tab] == 'movies' %>'>
        <%= link_to "Movies", user_path(tab: "movies") %>
    <% elsif category.name == 'Shows' %>
      <li class='<%= 'active' if params[:tab] == 'shows' %>'>
        <%= link_to "Shows", user_path(tab: "shows") %>
    <% elsif category.name == 'Games' %>
      <li class='<%= 'active' if params[:tab] == 'games' %>'>
        <%= link_to "Games", user_path(tab: "games") %>
    <% elsif category.name == 'Food' %>
      <li class='<%= 'active' if params[:tab] == 'food' %>'>
        <%= link_to "Food", user_path(tab: "food") %>
    <% elsif category.name == 'Music' %>
      <li class='<%= 'active' if params[:tab] == 'music' %>'>
        <%= link_to "Music", user_path(tab: "music") %>
    <% end %>
  <% end %>
</ul>

<% if params[:tab].nil? %>
  <% @user.posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
<% elsif params[:tab] == 'comments' %>
  <% @user.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment, show_post: true %>
  <% end %>
<% elsif params[:tab] == 'books' %>
  <% @user.posts.each do |post| %>
    <% if post.post_categories.first.category.name == 'Books' %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
<% elsif params[:tab] == 'movies' %>
  <% @user.posts.each do |post| %>
    <% if post.post_categories.first.category.name == 'Movies' %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
<% elsif params[:tab] == 'shows' %>
  <% @user.posts.each do |post| %>
    <% if post.post_categories.first.category.name == 'Shows' %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
<% elsif params[:tab] == 'games' %>
  <% @user.posts.each do |post| %>
    <% if post.post_categories.first.category.name == 'Games' %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
<% elsif params[:tab] == 'food' %>
  <% @user.posts.each do |post| %>
    <% if post.post_categories.first.category.name == 'Food' %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
<% elsif params[:tab] == 'music' %>
  <% @user.posts.each do |post| %>
    <% if post.post_categories.first.category.name == 'Music' %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
<% end %>