<div class="post-section cf">
  <div id='voting'>
  <div class='vote-box up-votes text-center'>
    <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
    <% if logged_in? %> 
        <i class='icon-arrow-up'></i>
      <% end %>
      <br/>
    <span class="post_<%= post.slug %>_votes">+<%= post.up_votes %></span>
    <% end %>
  </div>
  <div class='vote-box down-votes text-center'>
    <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
      <% if logged_in? %> 
        <i class='icon-arrow-down'></i>
      <% end %>
      <br/>
      <span class="post_<%= post.slug %>_votes">-<%= post.down_votes %></span>
    <% end %>
  </div>
</div>
  <div class="post cf">
      <%= render post.categories %>
    <div class="post-info">
      <h4 class='post-title'><%= link_to post.title, post_path(post) %></h4>
      <% if current_user == post.creator || current_user.admin? %>
        <p class='destroy-link'>[<%= link_to 'delete', post, method: :delete, data: { confirm: "Are you sure?" } %>]</p>
        <p class='edit-link'>[<%= link_to 'edit', edit_post_path(post) %>]</p>
      <% end %>
      <p><em><%= post.description %></em></p>
      <br/>
      <p>"<%= post.review %>"</p>
      <br/>
      <p class='posted-info'>
      <span class="quiet">posted by </span> <%= link_to post.creator.user_name, user_path(post.creator) %>
      <small>at <%= display_datetime(post.created_at) %></small>
      </p>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post), class: 'pull-left') %>
      </span>
    </div>
  </div>
</div>