<div class='show-post'>
  <%= render @post.categories %>
  <div class='post-info'>
    <%= render 'shared/content_title', title: @post.title %>
    <p><em><%= @post.description %></em></p>
    <br/>
    <p><%= @post.review %></p>
    <p class='pull-left'>
      <span class="quiet">posted by </span> <%= link_to @post.creator.user_name, user_path(@post.creator) %>
      <small>at <%= display_datetime(@post.created_at) %></small>
    </p>
  </div>
  <% if current_user == @post.creator || current_user.admin? %>  
    <p class='pull-right'>
      [<%= link_to 'edit this post', edit_post_path(@post) %>]
    </p>
  <% end %>
</div>

<div id='leave-comment'>
  <% if logged_in? %>
    <%= form_for [@post, @comment] do |f| %>
      <%= render 'shared/errors', obj: @comment %>
      <div class='control-group'>
        <%= f.label :body, "Leave a Comment" %>
        <%= f.text_area :body, rows: 3, class: 'span4' %>
      </div>
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</br>
</div>

<p>Comments:</p>

<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>